:root {
  /* Основные шрифты */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Основной цвет текста */
  --main-color: #212121;
  --secondary-color: #757575;
  --hover-color: #2196f3;

  /* Основной цвет фона */
  --main-background-color: #e5e5e5;
  --secondary-background-color: #fff;
  --third-background-color: #2f303a;
}

/* Главная */
body {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}

/* Ссылки */
.link {
  text-decoration: none;
}

/* Общий контейнер */
.conteiner {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Кнопки */
.button {
  cursor: pointer;
  border: 1px solid transparent;
}
/* Текст лого */
.logo-text {
  color: #2196f3;
}
/* Хедер */
.header-conteiner {
  display: flex;
}

.nav-list {
  display: flex;
}
.header-list {
  display: flex;
  margin-left: auto;
}
.header {
  background-color: #ffffff;
}
.header-link {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  outline: 2px solid tomato;
}

.header-link {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000;
}
/* Навигация */
.nav-link {
  color: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--hover-color);
}
.nav-item {
  padding: 32px 0;
  outline: tomato solid 2px;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.current {
  color: var(--hover-color);
}

/* контакты */
.header-item {
  padding: 31px 0 32px;
  outline: 2px solid tomato;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--secondary-color);
  text-decoration: none;
}

.contacts:hover,
.contacts:focus {
  color: var(--hover-color);
}
/* Герой */
.hero-conteiner {
  max-width: 1600px;
  min-width: none;
  /* margin-bottom: 94px; */
}
.hero {
  background-color: var(--third-background-color);
}

.hero-title {
  width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-button {
  display: block;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: var(--hover-color);
  height: 50px;
  min-width: 200px;
  left: 700px;
  top: 430px;
  border-radius: 4px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover-color);
}
/* Особенности */
.particular-conteiner {
  margin-bottom: 93px;
}
.particular-list {
  display: flex;
  flex-wrap: nowrap;
  margin-right: -30px;
}
.particular-item {
  /* width: 270px; */
  margin-right: 30px;
  flex-basis: calc((100% - 90px) / 4);
}
.particular-title {
  visibility: hidden;
}
.particular-subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.particular-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color);
}

/* О нас */
.about-conteiner {
  margin-bottom: 188px;
}
.about-list {
  display: flex;
  margin-right: -30px;
}
.about-item {
  margin-right: 30px;
  flex-basis: calc((100% - 60px) / 3);
}
.about-list {
  text-align: center;
}
.about-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
}

/* Наша команда */
.team-conteiner {
  margin-bottom: 94px;
}

.team {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  margin-right: -30px;
}
.team-item {
  margin-right: 30px;
  flex-basis: calc((100% -90px) / 4);
}
.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.team-item {
  background-color: var(--secondary-background-color);
}
.person-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
}
.person-text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-color);
}

/* Футер */
.footer {
  background-color: var(--third-background-color);
}
.footer-link {
  font-family: var(--secondary-font);
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}
.address {
  font-style: normal;
}
.address-location {
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--hover-color);
}

/* Портфолио */

/* Проекты */
.portfolio-conteiner {
  margin-bottom: 94px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.portfolio-item {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 60px) / 3);
}
.portfolio-item:nth-child(3n) {
  margin-right: 0px;
}
.buttons-item {
  display: inline;
}
.portfolio-first-title {
  visibility: hidden;
}
.portfolio-button {
  font-style: var(--main-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  /* text-align: center; */
  background-color: #f5f4fa;
  color: var(--main-color);
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--hover-color);
  color: #fff;
}

.portfolio-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-color);
}

.portfolio-link {
  display: inline-block;
  width: 370px;
  /* height: 404px; */
}
